@model BBBHukuk.Models.Model.Blog

@{
    ViewBag.Title = Model.Baslik;
    Layout = "~/Views/Shared/_SiteLayout.cshtml";
}

<section id="inner-headline">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <ul class="breadcrumb">
                    <li><a href="/Home/"><i class="fa fa-home"></i></a><i class="icon-angle-right"></i></li>
                    <li><a href="/Home/Blog/">Blog<i class="icon-angle-right"></i></a></li>
                    <li class="active">@Model.Baslik</li>
                </ul>
            </div>
        </div>
    </div>
</section>
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-8">
             
                    <article>
                        <div class="post-image">
                            <div class="post-heading">
                                <h3>@Model.Baslik</h3>
                                <div class="bottom-article">
                                    <ul class="meta-post">


                                        <li><i class="icon-folder-open"></i><a href="#"> @Model.Kategori.KategoriAd</a></li>
                                        @*<li><i class="icon-comments"></i><a href="#">4 Comments</a></li>*@
                                    </ul>

                                </div>
                            </div>
                            <img src="@Model.ResimURL" alt="@Model.Baslik" />
                        </div>
                        <p>
                            @Html.Raw(Model.İcerik)
                        </p>

                    </article>
                    <div class="row">
                        <div class="col-md-8">
                            <h2>Yorum Yap</h2>
                            <div>
                                <input type="text" id="adsoyad" name="AdSoyad" placeholder="İsim Soyisim" required class="form-control">
                                <br />
                                <input type="email" id="eposta" name="Eposta" placeholder="E-posta" required class="form-control">
                                <br />
                                <textarea typeof="text" class="form-control" id="icerik" name="Icerik" rows="10" data-rule="required" data-msg="YORUM." placeholder="Yorum" required></textarea>

                                @*<textarea typeof="text" placeholder="Yorum" id="icerik" name="Icerik" class="form-control">  </textarea>*@
                                <br />
                                <button type="submit" class="btn btn-success" id="gonder" value="Yorum">Onaya Gönder</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div>
                            <h3>Makale Yorumları</h3><hr />
                            @foreach (var item in Model.Yorums.OrderByDescending(x=>x.YorumId).Where(x=>x.Onay==true))
                            {
                                
                                <p>@item.AdSoyad - @item.Eposta</p>
                                <p>@item.Icerik</p>
                                <hr />
                            }

                        </div>

                    </div>


                
            </div>
            <div class="col-lg-4">
                <aside class="right-sidebar">
                    <div class="widget">
                        <form class="form-search">
                            <input class="form-control" type="text" placeholder="Search..">
                        </form>
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">Kategoriler</h5>
                        @{

                            Html.RenderAction("BlogKategoriPartial", "Home");
                        }
                    </div>
                    <div class="widget">
                        <h5 class="widgetheading">En Çok Okunanlar</h5>
                        <ul class="recent">
                            @{

                                Html.RenderAction("BlogKayitPartial", "Home");
                            }
                        </ul>
                    </div>

                </aside>
            </div>
        </div>
    </div>
</section>

<script src="~/Scripts/jquery-1.10.2.js"></script>



<script type="text/javascript">    
    $(document).ready(function () {
        $("#gonder").click(function () {

            var adisoyadi = $("#adsoyad").val();
            var epostasi = $("#eposta").val();
            var yorumunuz = $("#icerik").val();
            $.ajax({
                url: '/Home/YorumYap/',
                data: { adsoyad: adisoyadi, eposta: epostasi, icerik: yorumunuz,blogid:@Model.BlogId },
                type: 'POST',
                dataType: 'json',
                success: function (data) {
                    alert(adisoyadi + " - Yorumunuz onaya gönderildi, kontrol ediltikten sonra yayınlanacaktır.");
                    location.reload();
                    $('html, body').scrollTop(0);
                }
            });

        });
    })
    


</script>

